/*
  Easy Box Model Import
  Last update: 14.05.15
  Author: @MadeByGus - G. Andres Ibarra yo@soygus.com

	sass --watch ebm.scss:ebm.css
  sass --watch ebm.scss:ebm.css -t compressed
*/
.container-fluid {
  width: 100%;
}

/* 
  =================
  Backgrounds
  =================
*/
/* EBM:Brand colors */
.bg-primary {
  background-color: #63AB56;
}

.bg-primary-shade {
  background-color: #396432;
}

.bg-success {
  background-color: #63AB56;
}

.bg-success-shade {
  background-color: #396432;
}

.bg-info {
  background-color: #4A90E2;
}

.bg-info-shade {
  background-color: #1b5ba6;
}

.bg-warning {
  background-color: #f0ad4e;
}

.bg-warning-shade {
  background-color: #c27910;
}

.bg-danger {
  background-color: #BC4740;
}

.bg-danger-shade {
  background-color: #6c2925;
}

.bg-blue-darker {
  background-color: #3a4959;
}

.bg-blue-darker-shade {
  background-color: #101418;
}

.bg-blue-dark {
  background-color: #647e9a;
}

.bg-blue-dark-shade {
  background-color: #3a4959;
}

.bg-blue {
  background-color: #8fa2b6;
}

.bg-blue-shade {
  background-color: #566c84;
}

.bg-blue-light {
  background-color: #e6eaef;
}

.bg-blue-light-shade {
  background-color: #a5b4c4;
}

.bg-blue-lighter {
  background-color: #fbfcfd;
}

.bg-blue-lighter-shade {
  background-color: #bbc6d2;
}

.bg-gray-darker {
  background-color: #0D0D0D;
}

.bg-gray-darker-shade {
  background-color: black;
}

.bg-gray-dark {
  background-color: #3A3E40;
}

.bg-gray-dark-shade {
  background-color: #070808;
}

.bg-gray {
  background-color: #515659;
}

.bg-gray-shade {
  background-color: #1e2021;
}

.bg-gray-light {
  background-color: #848484;
}

.bg-gray-light-shade {
  background-color: #4f4f4f;
}

.bg-gray-lighter {
  background-color: #F0F0F0;
}

.bg-gray-lighter-shade {
  background-color: #bababa;
}

.bg-white {
  background-color: #fff;
}

.bg-white-shade {
  background-color: #c9c9c9;
}

.bg-facebook {
  background-color: #3B5998;
}

.bg-facebook-shade {
  background-color: #1d2c4b;
}

.bg-twitter {
  background-color: #34CCFE;
}

.bg-twitter-shade {
  background-color: #0195c6;
}

.bg-pinterest {
  background-color: #D02420;
}

.bg-pinterest-shade {
  background-color: #731412;
}

.bg-google-plus {
  background-color: #DC4335;
}

.bg-google-plus-shade {
  background-color: #8d2218;
}

.bg-youtube {
  background-color: #F23030;
}

.bg-youtube-shade {
  background-color: #ac0b0b;
}

.bg-instagram {
  background-color: #4187FB;
}

.bg-instagram-shade {
  background-color: #0450cd;
}

.bg-linkedin {
  background-color: #1C87BD;
}

.bg-linkedin-shade {
  background-color: #0e4460;
}

.bg-primary-op {
  background-color: rgba(99, 171, 86, 0.7);
}

.bg-success-op {
  background-color: rgba(99, 171, 86, 0.7);
}

.bg-info-op {
  background-color: rgba(74, 144, 226, 0.7);
}

.bg-warning-op {
  background-color: rgba(240, 173, 78, 0.7);
}

.bg-danger-op {
  background-color: rgba(188, 71, 64, 0.7);
}

.bg-blue-darker-op {
  background-color: rgba(58, 73, 89, 0.7);
}

.bg-blue-dark-op {
  background-color: rgba(100, 126, 154, 0.7);
}

.bg-blue-op {
  background-color: rgba(143, 162, 182, 0.7);
}

.bg-blue-light-op {
  background-color: rgba(230, 234, 239, 0.7);
}

.bg-blue-lighter-op {
  background-color: rgba(251, 252, 253, 0.7);
}

.bg-gray-darker-op {
  background-color: rgba(13, 13, 13, 0.7);
}

.bg-gray-dark-op {
  background-color: rgba(58, 62, 64, 0.7);
}

.bg-gray-op {
  background-color: rgba(81, 86, 89, 0.7);
}

.bg-gray-light-op {
  background-color: rgba(132, 132, 132, 0.7);
}

.bg-gray-lighter-op {
  background-color: rgba(240, 240, 240, 0.7);
}

.bg-white-op {
  background-color: rgba(255, 255, 255, 0.7);
}

.bg-facebook-op {
  background-color: rgba(59, 89, 152, 0.7);
}

.bg-twitter-op {
  background-color: rgba(52, 204, 254, 0.7);
}

.bg-pinterest-op {
  background-color: rgba(208, 36, 32, 0.7);
}

.bg-google-plus-op {
  background-color: rgba(220, 67, 53, 0.7);
}

.bg-youtube-op {
  background-color: rgba(242, 48, 48, 0.7);
}

.bg-instagram-op {
  background-color: rgba(65, 135, 251, 0.7);
}

.bg-linkedin-op {
  background-color: rgba(28, 135, 189, 0.7);
}

/* 
  =================
  TEXT COLOR
  =================
*/
.text-primary {
  color: #63AB56;
}
.text-primary a:not(.btn) {
  color: #63AB56;
}
.text-primary a:not(.btn):hover {
  color: #396432;
}

a.text-primary:not(.btn):hover {
  color: #396432;
}

.text-success {
  color: #63AB56;
}
.text-success a:not(.btn) {
  color: #63AB56;
}
.text-success a:not(.btn):hover {
  color: #396432;
}

a.text-success:not(.btn):hover {
  color: #396432;
}

.text-info {
  color: #4A90E2;
}
.text-info a:not(.btn) {
  color: #4A90E2;
}
.text-info a:not(.btn):hover {
  color: #1b5ba6;
}

a.text-info:not(.btn):hover {
  color: #1b5ba6;
}

.text-warning {
  color: #f0ad4e;
}
.text-warning a:not(.btn) {
  color: #f0ad4e;
}
.text-warning a:not(.btn):hover {
  color: #c27910;
}

a.text-warning:not(.btn):hover {
  color: #c27910;
}

.text-danger {
  color: #BC4740;
}
.text-danger a:not(.btn) {
  color: #BC4740;
}
.text-danger a:not(.btn):hover {
  color: #6c2925;
}

a.text-danger:not(.btn):hover {
  color: #6c2925;
}

.text-blue-darker {
  color: #3a4959;
}
.text-blue-darker a:not(.btn) {
  color: #3a4959;
}
.text-blue-darker a:not(.btn):hover {
  color: #101418;
}

a.text-blue-darker:not(.btn):hover {
  color: #101418;
}

.text-blue-dark {
  color: #647e9a;
}
.text-blue-dark a:not(.btn) {
  color: #647e9a;
}
.text-blue-dark a:not(.btn):hover {
  color: #3a4959;
}

a.text-blue-dark:not(.btn):hover {
  color: #3a4959;
}

.text-blue {
  color: #8fa2b6;
}
.text-blue a:not(.btn) {
  color: #8fa2b6;
}
.text-blue a:not(.btn):hover {
  color: #566c84;
}

a.text-blue:not(.btn):hover {
  color: #566c84;
}

.text-blue-light {
  color: #e6eaef;
}
.text-blue-light a:not(.btn) {
  color: #e6eaef;
}
.text-blue-light a:not(.btn):hover {
  color: #a5b4c4;
}

a.text-blue-light:not(.btn):hover {
  color: #a5b4c4;
}

.text-blue-lighter {
  color: #fbfcfd;
}
.text-blue-lighter a:not(.btn) {
  color: #fbfcfd;
}
.text-blue-lighter a:not(.btn):hover {
  color: #bbc6d2;
}

a.text-blue-lighter:not(.btn):hover {
  color: #bbc6d2;
}

.text-gray-darker {
  color: #0D0D0D;
}
.text-gray-darker a:not(.btn) {
  color: #0D0D0D;
}
.text-gray-darker a:not(.btn):hover {
  color: black;
}

a.text-gray-darker:not(.btn):hover {
  color: black;
}

.text-gray-dark {
  color: #3A3E40;
}
.text-gray-dark a:not(.btn) {
  color: #3A3E40;
}
.text-gray-dark a:not(.btn):hover {
  color: #070808;
}

a.text-gray-dark:not(.btn):hover {
  color: #070808;
}

.text-gray {
  color: #515659;
}
.text-gray a:not(.btn) {
  color: #515659;
}
.text-gray a:not(.btn):hover {
  color: #1e2021;
}

a.text-gray:not(.btn):hover {
  color: #1e2021;
}

.text-gray-light {
  color: #848484;
}
.text-gray-light a:not(.btn) {
  color: #848484;
}
.text-gray-light a:not(.btn):hover {
  color: #4f4f4f;
}

a.text-gray-light:not(.btn):hover {
  color: #4f4f4f;
}

.text-gray-lighter {
  color: #F0F0F0;
}
.text-gray-lighter a:not(.btn) {
  color: #F0F0F0;
}
.text-gray-lighter a:not(.btn):hover {
  color: #bababa;
}

a.text-gray-lighter:not(.btn):hover {
  color: #bababa;
}

.text-white {
  color: #fff;
}
.text-white a:not(.btn) {
  color: #fff;
}
.text-white a:not(.btn):hover {
  color: #c9c9c9;
}

a.text-white:not(.btn):hover {
  color: #c9c9c9;
}

.text-facebook {
  color: #3B5998;
}
.text-facebook a:not(.btn) {
  color: #3B5998;
}
.text-facebook a:not(.btn):hover {
  color: #1d2c4b;
}

a.text-facebook:not(.btn):hover {
  color: #1d2c4b;
}

.text-twitter {
  color: #34CCFE;
}
.text-twitter a:not(.btn) {
  color: #34CCFE;
}
.text-twitter a:not(.btn):hover {
  color: #0195c6;
}

a.text-twitter:not(.btn):hover {
  color: #0195c6;
}

.text-pinterest {
  color: #D02420;
}
.text-pinterest a:not(.btn) {
  color: #D02420;
}
.text-pinterest a:not(.btn):hover {
  color: #731412;
}

a.text-pinterest:not(.btn):hover {
  color: #731412;
}

.text-google-plus {
  color: #DC4335;
}
.text-google-plus a:not(.btn) {
  color: #DC4335;
}
.text-google-plus a:not(.btn):hover {
  color: #8d2218;
}

a.text-google-plus:not(.btn):hover {
  color: #8d2218;
}

.text-youtube {
  color: #F23030;
}
.text-youtube a:not(.btn) {
  color: #F23030;
}
.text-youtube a:not(.btn):hover {
  color: #ac0b0b;
}

a.text-youtube:not(.btn):hover {
  color: #ac0b0b;
}

.text-instagram {
  color: #4187FB;
}
.text-instagram a:not(.btn) {
  color: #4187FB;
}
.text-instagram a:not(.btn):hover {
  color: #0450cd;
}

a.text-instagram:not(.btn):hover {
  color: #0450cd;
}

.text-linkedin {
  color: #1C87BD;
}
.text-linkedin a:not(.btn) {
  color: #1C87BD;
}
.text-linkedin a:not(.btn):hover {
  color: #0e4460;
}

a.text-linkedin:not(.btn):hover {
  color: #0e4460;
}

/* 
  =================
  TEXT HOVER COLOR
  =================
*/
.text-hover-primary a:not(.btn):hover {
  color: #4b8341;
}
.text-hover-primary:hover {
  color: #4b8341;
}

a.text-hover-primary:not(.btn):hover {
  color: #4b8341;
}

.text-hover-success a:not(.btn):hover {
  color: #4b8341;
}
.text-hover-success:hover {
  color: #4b8341;
}

a.text-hover-success:not(.btn):hover {
  color: #4b8341;
}

.text-hover-info a:not(.btn):hover {
  color: #2171ce;
}
.text-hover-info:hover {
  color: #2171ce;
}

a.text-hover-info:not(.btn):hover {
  color: #2171ce;
}

.text-hover-warning a:not(.btn):hover {
  color: #eb9316;
}
.text-hover-warning:hover {
  color: #eb9316;
}

a.text-hover-warning:not(.btn):hover {
  color: #eb9316;
}

.text-hover-danger a:not(.btn):hover {
  color: #8e3630;
}
.text-hover-danger:hover {
  color: #8e3630;
}

a.text-hover-danger:not(.btn):hover {
  color: #8e3630;
}

.text-hover-blue-darker a:not(.btn):hover {
  color: #222b34;
}
.text-hover-blue-darker:hover {
  color: #222b34;
}

a.text-hover-blue-darker:not(.btn):hover {
  color: #222b34;
}

.text-hover-blue-dark a:not(.btn):hover {
  color: #4c6075;
}
.text-hover-blue-dark:hover {
  color: #4c6075;
}

a.text-hover-blue-dark:not(.btn):hover {
  color: #4c6075;
}

.text-hover-blue a:not(.btn):hover {
  color: #6a839e;
}
.text-hover-blue:hover {
  color: #6a839e;
}

a.text-hover-blue:not(.btn):hover {
  color: #6a839e;
}

.text-hover-blue-light a:not(.btn):hover {
  color: #c1cbd6;
}
.text-hover-blue-light:hover {
  color: #c1cbd6;
}

a.text-hover-blue-light:not(.btn):hover {
  color: #c1cbd6;
}

.text-hover-blue-lighter a:not(.btn):hover {
  color: #d6dde4;
}
.text-hover-blue-lighter:hover {
  color: #d6dde4;
}

a.text-hover-blue-lighter:not(.btn):hover {
  color: #d6dde4;
}

.text-hover-gray-darker a:not(.btn):hover {
  color: black;
}
.text-hover-gray-darker:hover {
  color: black;
}

a.text-hover-gray-darker:not(.btn):hover {
  color: black;
}

.text-hover-gray-dark a:not(.btn):hover {
  color: #1d1f20;
}
.text-hover-gray-dark:hover {
  color: #1d1f20;
}

a.text-hover-gray-dark:not(.btn):hover {
  color: #1d1f20;
}

.text-hover-gray a:not(.btn):hover {
  color: #343739;
}
.text-hover-gray:hover {
  color: #343739;
}

a.text-hover-gray:not(.btn):hover {
  color: #343739;
}

.text-hover-gray-light a:not(.btn):hover {
  color: #656565;
}
.text-hover-gray-light:hover {
  color: #656565;
}

a.text-hover-gray-light:not(.btn):hover {
  color: #656565;
}

.text-hover-gray-lighter a:not(.btn):hover {
  color: #d1d1d1;
}
.text-hover-gray-lighter:hover {
  color: #d1d1d1;
}

a.text-hover-gray-lighter:not(.btn):hover {
  color: #d1d1d1;
}

.text-hover-white a:not(.btn):hover {
  color: #e0e0e0;
}
.text-hover-white:hover {
  color: #e0e0e0;
}

a.text-hover-white:not(.btn):hover {
  color: #e0e0e0;
}

.text-hover-facebook a:not(.btn):hover {
  color: #2a3f6c;
}
.text-hover-facebook:hover {
  color: #2a3f6c;
}

a.text-hover-facebook:not(.btn):hover {
  color: #2a3f6c;
}

.text-hover-twitter a:not(.btn):hover {
  color: #01b8f4;
}
.text-hover-twitter:hover {
  color: #01b8f4;
}

a.text-hover-twitter:not(.btn):hover {
  color: #01b8f4;
}

.text-hover-pinterest a:not(.btn):hover {
  color: #9b1b18;
}
.text-hover-pinterest:hover {
  color: #9b1b18;
}

a.text-hover-pinterest:not(.btn):hover {
  color: #9b1b18;
}

.text-hover-google-plus a:not(.btn):hover {
  color: #b52c1f;
}
.text-hover-google-plus:hover {
  color: #b52c1f;
}

a.text-hover-google-plus:not(.btn):hover {
  color: #b52c1f;
}

.text-hover-youtube a:not(.btn):hover {
  color: #d70e0e;
}
.text-hover-youtube:hover {
  color: #d70e0e;
}

a.text-hover-youtube:not(.btn):hover {
  color: #d70e0e;
}

.text-hover-instagram a:not(.btn):hover {
  color: #0561fa;
}
.text-hover-instagram:hover {
  color: #0561fa;
}

a.text-hover-instagram:not(.btn):hover {
  color: #0561fa;
}

.text-hover-linkedin a:not(.btn):hover {
  color: #146188;
}
.text-hover-linkedin:hover {
  color: #146188;
}

a.text-hover-linkedin:not(.btn):hover {
  color: #146188;
}

.bg-hover-primary a:not(.btn):hover {
  background-color: #4b8341;
}
.bg-hover-primary:hover {
  background-color: #4b8341;
}

a.bg-hover-primary:not(.btn):hover,
.btn.bg-hover-primary:hover {
  background-color: #4b8341;
}

.bg-hover-success a:not(.btn):hover {
  background-color: #4b8341;
}
.bg-hover-success:hover {
  background-color: #4b8341;
}

a.bg-hover-success:not(.btn):hover,
.btn.bg-hover-success:hover {
  background-color: #4b8341;
}

.bg-hover-info a:not(.btn):hover {
  background-color: #2171ce;
}
.bg-hover-info:hover {
  background-color: #2171ce;
}

a.bg-hover-info:not(.btn):hover,
.btn.bg-hover-info:hover {
  background-color: #2171ce;
}

.bg-hover-warning a:not(.btn):hover {
  background-color: #eb9316;
}
.bg-hover-warning:hover {
  background-color: #eb9316;
}

a.bg-hover-warning:not(.btn):hover,
.btn.bg-hover-warning:hover {
  background-color: #eb9316;
}

.bg-hover-danger a:not(.btn):hover {
  background-color: #8e3630;
}
.bg-hover-danger:hover {
  background-color: #8e3630;
}

a.bg-hover-danger:not(.btn):hover,
.btn.bg-hover-danger:hover {
  background-color: #8e3630;
}

.bg-hover-blue-darker a:not(.btn):hover {
  background-color: #222b34;
}
.bg-hover-blue-darker:hover {
  background-color: #222b34;
}

a.bg-hover-blue-darker:not(.btn):hover,
.btn.bg-hover-blue-darker:hover {
  background-color: #222b34;
}

.bg-hover-blue-dark a:not(.btn):hover {
  background-color: #4c6075;
}
.bg-hover-blue-dark:hover {
  background-color: #4c6075;
}

a.bg-hover-blue-dark:not(.btn):hover,
.btn.bg-hover-blue-dark:hover {
  background-color: #4c6075;
}

.bg-hover-blue a:not(.btn):hover {
  background-color: #6a839e;
}
.bg-hover-blue:hover {
  background-color: #6a839e;
}

a.bg-hover-blue:not(.btn):hover,
.btn.bg-hover-blue:hover {
  background-color: #6a839e;
}

.bg-hover-blue-light a:not(.btn):hover {
  background-color: #c1cbd6;
}
.bg-hover-blue-light:hover {
  background-color: #c1cbd6;
}

a.bg-hover-blue-light:not(.btn):hover,
.btn.bg-hover-blue-light:hover {
  background-color: #c1cbd6;
}

.bg-hover-blue-lighter a:not(.btn):hover {
  background-color: #d6dde4;
}
.bg-hover-blue-lighter:hover {
  background-color: #d6dde4;
}

a.bg-hover-blue-lighter:not(.btn):hover,
.btn.bg-hover-blue-lighter:hover {
  background-color: #d6dde4;
}

.bg-hover-gray-darker a:not(.btn):hover {
  background-color: black;
}
.bg-hover-gray-darker:hover {
  background-color: black;
}

a.bg-hover-gray-darker:not(.btn):hover,
.btn.bg-hover-gray-darker:hover {
  background-color: black;
}

.bg-hover-gray-dark a:not(.btn):hover {
  background-color: #1d1f20;
}
.bg-hover-gray-dark:hover {
  background-color: #1d1f20;
}

a.bg-hover-gray-dark:not(.btn):hover,
.btn.bg-hover-gray-dark:hover {
  background-color: #1d1f20;
}

.bg-hover-gray a:not(.btn):hover {
  background-color: #343739;
}
.bg-hover-gray:hover {
  background-color: #343739;
}

a.bg-hover-gray:not(.btn):hover,
.btn.bg-hover-gray:hover {
  background-color: #343739;
}

.bg-hover-gray-light a:not(.btn):hover {
  background-color: #656565;
}
.bg-hover-gray-light:hover {
  background-color: #656565;
}

a.bg-hover-gray-light:not(.btn):hover,
.btn.bg-hover-gray-light:hover {
  background-color: #656565;
}

.bg-hover-gray-lighter a:not(.btn):hover {
  background-color: #d1d1d1;
}
.bg-hover-gray-lighter:hover {
  background-color: #d1d1d1;
}

a.bg-hover-gray-lighter:not(.btn):hover,
.btn.bg-hover-gray-lighter:hover {
  background-color: #d1d1d1;
}

.bg-hover-white a:not(.btn):hover {
  background-color: #e0e0e0;
}
.bg-hover-white:hover {
  background-color: #e0e0e0;
}

a.bg-hover-white:not(.btn):hover,
.btn.bg-hover-white:hover {
  background-color: #e0e0e0;
}

.bg-hover-facebook a:not(.btn):hover {
  background-color: #2a3f6c;
}
.bg-hover-facebook:hover {
  background-color: #2a3f6c;
}

a.bg-hover-facebook:not(.btn):hover,
.btn.bg-hover-facebook:hover {
  background-color: #2a3f6c;
}

.bg-hover-twitter a:not(.btn):hover {
  background-color: #01b8f4;
}
.bg-hover-twitter:hover {
  background-color: #01b8f4;
}

a.bg-hover-twitter:not(.btn):hover,
.btn.bg-hover-twitter:hover {
  background-color: #01b8f4;
}

.bg-hover-pinterest a:not(.btn):hover {
  background-color: #9b1b18;
}
.bg-hover-pinterest:hover {
  background-color: #9b1b18;
}

a.bg-hover-pinterest:not(.btn):hover,
.btn.bg-hover-pinterest:hover {
  background-color: #9b1b18;
}

.bg-hover-google-plus a:not(.btn):hover {
  background-color: #b52c1f;
}
.bg-hover-google-plus:hover {
  background-color: #b52c1f;
}

a.bg-hover-google-plus:not(.btn):hover,
.btn.bg-hover-google-plus:hover {
  background-color: #b52c1f;
}

.bg-hover-youtube a:not(.btn):hover {
  background-color: #d70e0e;
}
.bg-hover-youtube:hover {
  background-color: #d70e0e;
}

a.bg-hover-youtube:not(.btn):hover,
.btn.bg-hover-youtube:hover {
  background-color: #d70e0e;
}

.bg-hover-instagram a:not(.btn):hover {
  background-color: #0561fa;
}
.bg-hover-instagram:hover {
  background-color: #0561fa;
}

a.bg-hover-instagram:not(.btn):hover,
.btn.bg-hover-instagram:hover {
  background-color: #0561fa;
}

.bg-hover-linkedin a:not(.btn):hover {
  background-color: #146188;
}
.bg-hover-linkedin:hover {
  background-color: #146188;
}

a.bg-hover-linkedin:not(.btn):hover,
.btn.bg-hover-linkedin:hover {
  background-color: #146188;
}

.h1-ch-primary h1 {
  color: #63AB56;
}

.h1-ch-success h1 {
  color: #63AB56;
}

.h1-ch-info h1 {
  color: #4A90E2;
}

.h1-ch-warning h1 {
  color: #f0ad4e;
}

.h1-ch-danger h1 {
  color: #BC4740;
}

.h1-ch-blue-darker h1 {
  color: #3a4959;
}

.h1-ch-blue-dark h1 {
  color: #647e9a;
}

.h1-ch-blue h1 {
  color: #8fa2b6;
}

.h1-ch-blue-light h1 {
  color: #e6eaef;
}

.h1-ch-blue-lighter h1 {
  color: #fbfcfd;
}

.h2-ch-primary h2 {
  color: #63AB56;
}

.h2-ch-success h2 {
  color: #63AB56;
}

.h2-ch-info h2 {
  color: #4A90E2;
}

.h2-ch-warning h2 {
  color: #f0ad4e;
}

.h2-ch-danger h2 {
  color: #BC4740;
}

.h2-ch-blue-darker h2 {
  color: #3a4959;
}

.h2-ch-blue-dark h2 {
  color: #647e9a;
}

.h2-ch-blue h2 {
  color: #8fa2b6;
}

.h2-ch-blue-light h2 {
  color: #e6eaef;
}

.h2-ch-blue-lighter h2 {
  color: #fbfcfd;
}

.h3-ch-primary h3 {
  color: #63AB56;
}

.h3-ch-success h3 {
  color: #63AB56;
}

.h3-ch-info h3 {
  color: #4A90E2;
}

.h3-ch-warning h3 {
  color: #f0ad4e;
}

.h3-ch-danger h3 {
  color: #BC4740;
}

.h3-ch-blue-darker h3 {
  color: #3a4959;
}

.h3-ch-blue-dark h3 {
  color: #647e9a;
}

.h3-ch-blue h3 {
  color: #8fa2b6;
}

.h3-ch-blue-light h3 {
  color: #e6eaef;
}

.h3-ch-blue-lighter h3 {
  color: #fbfcfd;
}

.h4-ch-primary h4 {
  color: #63AB56;
}

.h4-ch-success h4 {
  color: #63AB56;
}

.h4-ch-info h4 {
  color: #4A90E2;
}

.h4-ch-warning h4 {
  color: #f0ad4e;
}

.h4-ch-danger h4 {
  color: #BC4740;
}

.h4-ch-blue-darker h4 {
  color: #3a4959;
}

.h4-ch-blue-dark h4 {
  color: #647e9a;
}

.h4-ch-blue h4 {
  color: #8fa2b6;
}

.h4-ch-blue-light h4 {
  color: #e6eaef;
}

.h4-ch-blue-lighter h4 {
  color: #fbfcfd;
}

.h5-ch-primary h5 {
  color: #63AB56;
}

.h5-ch-success h5 {
  color: #63AB56;
}

.h5-ch-info h5 {
  color: #4A90E2;
}

.h5-ch-warning h5 {
  color: #f0ad4e;
}

.h5-ch-danger h5 {
  color: #BC4740;
}

.h5-ch-blue-darker h5 {
  color: #3a4959;
}

.h5-ch-blue-dark h5 {
  color: #647e9a;
}

.h5-ch-blue h5 {
  color: #8fa2b6;
}

.h5-ch-blue-light h5 {
  color: #e6eaef;
}

.h5-ch-blue-lighter h5 {
  color: #fbfcfd;
}

.h6-ch-primary h6 {
  color: #63AB56;
}

.h6-ch-success h6 {
  color: #63AB56;
}

.h6-ch-info h6 {
  color: #4A90E2;
}

.h6-ch-warning h6 {
  color: #f0ad4e;
}

.h6-ch-danger h6 {
  color: #BC4740;
}

.h6-ch-blue-darker h6 {
  color: #3a4959;
}

.h6-ch-blue-dark h6 {
  color: #647e9a;
}

.h6-ch-blue h6 {
  color: #8fa2b6;
}

.h6-ch-blue-light h6 {
  color: #e6eaef;
}

.h6-ch-blue-lighter h6 {
  color: #fbfcfd;
}

.p-ch-primary p {
  color: #63AB56;
}

.p-ch-success p {
  color: #63AB56;
}

.p-ch-info p {
  color: #4A90E2;
}

.p-ch-warning p {
  color: #f0ad4e;
}

.p-ch-danger p {
  color: #BC4740;
}

.p-ch-blue-darker p {
  color: #3a4959;
}

.p-ch-blue-dark p {
  color: #647e9a;
}

.p-ch-blue p {
  color: #8fa2b6;
}

.p-ch-blue-light p {
  color: #e6eaef;
}

.p-ch-blue-lighter p {
  color: #fbfcfd;
}

.span-ch-primary span {
  color: #63AB56;
}

.span-ch-success span {
  color: #63AB56;
}

.span-ch-info span {
  color: #4A90E2;
}

.span-ch-warning span {
  color: #f0ad4e;
}

.span-ch-danger span {
  color: #BC4740;
}

.span-ch-blue-darker span {
  color: #3a4959;
}

.span-ch-blue-dark span {
  color: #647e9a;
}

.span-ch-blue span {
  color: #8fa2b6;
}

.span-ch-blue-light span {
  color: #e6eaef;
}

.span-ch-blue-lighter span {
  color: #fbfcfd;
}

.a-ch-primary a {
  color: #63AB56;
}

.a-ch-success a {
  color: #63AB56;
}

.a-ch-info a {
  color: #4A90E2;
}

.a-ch-warning a {
  color: #f0ad4e;
}

.a-ch-danger a {
  color: #BC4740;
}

.a-ch-blue-darker a {
  color: #3a4959;
}

.a-ch-blue-dark a {
  color: #647e9a;
}

.a-ch-blue a {
  color: #8fa2b6;
}

.a-ch-blue-light a {
  color: #e6eaef;
}

.a-ch-blue-lighter a {
  color: #fbfcfd;
}

.em-ch-primary em {
  color: #63AB56;
}

.em-ch-success em {
  color: #63AB56;
}

.em-ch-info em {
  color: #4A90E2;
}

.em-ch-warning em {
  color: #f0ad4e;
}

.em-ch-danger em {
  color: #BC4740;
}

.em-ch-blue-darker em {
  color: #3a4959;
}

.em-ch-blue-dark em {
  color: #647e9a;
}

.em-ch-blue em {
  color: #8fa2b6;
}

.em-ch-blue-light em {
  color: #e6eaef;
}

.em-ch-blue-lighter em {
  color: #fbfcfd;
}

.i-ch-primary i {
  color: #63AB56;
}

.i-ch-success i {
  color: #63AB56;
}

.i-ch-info i {
  color: #4A90E2;
}

.i-ch-warning i {
  color: #f0ad4e;
}

.i-ch-danger i {
  color: #BC4740;
}

.i-ch-blue-darker i {
  color: #3a4959;
}

.i-ch-blue-dark i {
  color: #647e9a;
}

.i-ch-blue i {
  color: #8fa2b6;
}

.i-ch-blue-light i {
  color: #e6eaef;
}

.i-ch-blue-lighter i {
  color: #fbfcfd;
}

.strong-ch-primary strong {
  color: #63AB56;
}

.strong-ch-success strong {
  color: #63AB56;
}

.strong-ch-info strong {
  color: #4A90E2;
}

.strong-ch-warning strong {
  color: #f0ad4e;
}

.strong-ch-danger strong {
  color: #BC4740;
}

.strong-ch-blue-darker strong {
  color: #3a4959;
}

.strong-ch-blue-dark strong {
  color: #647e9a;
}

.strong-ch-blue strong {
  color: #8fa2b6;
}

.strong-ch-blue-light strong {
  color: #e6eaef;
}

.strong-ch-blue-lighter strong {
  color: #fbfcfd;
}

.li-ch-primary li {
  color: #63AB56;
}

.li-ch-success li {
  color: #63AB56;
}

.li-ch-info li {
  color: #4A90E2;
}

.li-ch-warning li {
  color: #f0ad4e;
}

.li-ch-danger li {
  color: #BC4740;
}

.li-ch-blue-darker li {
  color: #3a4959;
}

.li-ch-blue-dark li {
  color: #647e9a;
}

.li-ch-blue li {
  color: #8fa2b6;
}

.li-ch-blue-light li {
  color: #e6eaef;
}

.li-ch-blue-lighter li {
  color: #fbfcfd;
}

.h1-ch-gray-darker h1 {
  color: #0D0D0D;
}

.h1-ch-gray-dark h1 {
  color: #3A3E40;
}

.h1-ch-gray h1 {
  color: #515659;
}

.h1-ch-gray-light h1 {
  color: #848484;
}

.h1-ch-gray-lighter h1 {
  color: #F0F0F0;
}

.h1-ch-white h1 {
  color: #fff;
}

.h2-ch-gray-darker h2 {
  color: #0D0D0D;
}

.h2-ch-gray-dark h2 {
  color: #3A3E40;
}

.h2-ch-gray h2 {
  color: #515659;
}

.h2-ch-gray-light h2 {
  color: #848484;
}

.h2-ch-gray-lighter h2 {
  color: #F0F0F0;
}

.h2-ch-white h2 {
  color: #fff;
}

.h3-ch-gray-darker h3 {
  color: #0D0D0D;
}

.h3-ch-gray-dark h3 {
  color: #3A3E40;
}

.h3-ch-gray h3 {
  color: #515659;
}

.h3-ch-gray-light h3 {
  color: #848484;
}

.h3-ch-gray-lighter h3 {
  color: #F0F0F0;
}

.h3-ch-white h3 {
  color: #fff;
}

.h4-ch-gray-darker h4 {
  color: #0D0D0D;
}

.h4-ch-gray-dark h4 {
  color: #3A3E40;
}

.h4-ch-gray h4 {
  color: #515659;
}

.h4-ch-gray-light h4 {
  color: #848484;
}

.h4-ch-gray-lighter h4 {
  color: #F0F0F0;
}

.h4-ch-white h4 {
  color: #fff;
}

.h5-ch-gray-darker h5 {
  color: #0D0D0D;
}

.h5-ch-gray-dark h5 {
  color: #3A3E40;
}

.h5-ch-gray h5 {
  color: #515659;
}

.h5-ch-gray-light h5 {
  color: #848484;
}

.h5-ch-gray-lighter h5 {
  color: #F0F0F0;
}

.h5-ch-white h5 {
  color: #fff;
}

.h6-ch-gray-darker h6 {
  color: #0D0D0D;
}

.h6-ch-gray-dark h6 {
  color: #3A3E40;
}

.h6-ch-gray h6 {
  color: #515659;
}

.h6-ch-gray-light h6 {
  color: #848484;
}

.h6-ch-gray-lighter h6 {
  color: #F0F0F0;
}

.h6-ch-white h6 {
  color: #fff;
}

.p-ch-gray-darker p {
  color: #0D0D0D;
}

.p-ch-gray-dark p {
  color: #3A3E40;
}

.p-ch-gray p {
  color: #515659;
}

.p-ch-gray-light p {
  color: #848484;
}

.p-ch-gray-lighter p {
  color: #F0F0F0;
}

.p-ch-white p {
  color: #fff;
}

.span-ch-gray-darker span {
  color: #0D0D0D;
}

.span-ch-gray-dark span {
  color: #3A3E40;
}

.span-ch-gray span {
  color: #515659;
}

.span-ch-gray-light span {
  color: #848484;
}

.span-ch-gray-lighter span {
  color: #F0F0F0;
}

.span-ch-white span {
  color: #fff;
}

.a-ch-gray-darker a {
  color: #0D0D0D;
}

.a-ch-gray-dark a {
  color: #3A3E40;
}

.a-ch-gray a {
  color: #515659;
}

.a-ch-gray-light a {
  color: #848484;
}

.a-ch-gray-lighter a {
  color: #F0F0F0;
}

.a-ch-white a {
  color: #fff;
}

.em-ch-gray-darker em {
  color: #0D0D0D;
}

.em-ch-gray-dark em {
  color: #3A3E40;
}

.em-ch-gray em {
  color: #515659;
}

.em-ch-gray-light em {
  color: #848484;
}

.em-ch-gray-lighter em {
  color: #F0F0F0;
}

.em-ch-white em {
  color: #fff;
}

.i-ch-gray-darker i {
  color: #0D0D0D;
}

.i-ch-gray-dark i {
  color: #3A3E40;
}

.i-ch-gray i {
  color: #515659;
}

.i-ch-gray-light i {
  color: #848484;
}

.i-ch-gray-lighter i {
  color: #F0F0F0;
}

.i-ch-white i {
  color: #fff;
}

.strong-ch-gray-darker strong {
  color: #0D0D0D;
}

.strong-ch-gray-dark strong {
  color: #3A3E40;
}

.strong-ch-gray strong {
  color: #515659;
}

.strong-ch-gray-light strong {
  color: #848484;
}

.strong-ch-gray-lighter strong {
  color: #F0F0F0;
}

.strong-ch-white strong {
  color: #fff;
}

.li-ch-gray-darker li {
  color: #0D0D0D;
}

.li-ch-gray-dark li {
  color: #3A3E40;
}

.li-ch-gray li {
  color: #515659;
}

.li-ch-gray-light li {
  color: #848484;
}

.li-ch-gray-lighter li {
  color: #F0F0F0;
}

.li-ch-white li {
  color: #fff;
}

/*# sourceMappingURL=ebm.css.map */
