// SIZE CONTROL VARS
$banner-height: 350px; // Banners

$padding-control: 35px;
html,
body {
	background-color: $body-bg;	
	&::-webkit-scrollbar { 
    display: none; 
	}
}

body {
	padding: $padding-control;
	padding: rem($padding-control);
	.site-wrapper {
		@include calc(min-height, "100vh - #{$padding-control * 2}");
		background-color: white;
	}
	.site-wrapper,
	.site-content {
		position: relative;
	}
}

/*
	Main layout
*/
$header-height-control: 240px;
$logo-wrap-height-control: 70px;
.site-wrapper {
	border: 1px solid rgba($brand-info, 0.3);
	.header,
	.site-content,
	.footer {
		position: relative;
	}
	.header {
		@include flex-row;
		@include clearfix;
		.header-left,
		.header-right {
			height: $header-height-control;
		}
		.header-left {
			width: 63%;
		}
		.header-right {
			border-left: 1px solid $gray-lighter;
			width: 37%;
		}
	}
	&.home-layout {
		.content-wrap {
			@include calc(height, "100vh - #{$header-height-control + ($padding-control * 2)}");
			@include flex-column-space-between;
		}
		.excerpt-wrap {
			background-color: transparent;
			margin: 0;
		}
		.site-content-left,
		.site-content-right {
			width: 50%;
		}
	}
	.content-wrap {
		@include calc(min-height, "100vh - #{$header-height-control + ($padding-control * 2)}");
		@include flex-column-space-between;
	}
	.site-content {}
	.footer {
		height: $logo-wrap-height-control;
	}
}

/*
	Logo wrap
*/
$logo-width-control: 100px;
.logo-wrap {
	@include flex-column-center;
	height: $logo-wrap-height-control;
	padding: $container-fluid;
	a {
		&:hover,
		&:focus,
		&:active {
			border-bottom: 1px solid white;
		}
	}
	img {
		// opacity: 0.1;
		width: $logo-width-control;
		height: auto;
	}
}

/*
	Quote wrap
*/
.quote-wrap {
	@include flex-column-center;
	@include light;
	min-height: $logo-wrap-height-control;
	padding: $container-fluid;
	color: $gray;
	h4 {
		line-height: 1.4;
	}
}

/*
	Nav main
*/
.nav-wrap {
	@include flex-column-center;
	@include calc(height, "#{$header-height-control} - #{$logo-wrap-height-control}");
	padding: $container-fluid;
	.nav-main {
		@include list-unstyled;
		margin-left: - $container-fluid;
		display: inline-block;
		li {
			@include transform(rotate(-90deg));
			display: inline-block;
			&.current-menu-item {
				a {
					border-bottom: 1px solid $gray-darker;
					color: $gray-darker;
				}
			}
			a {
				@include light;
				text-transform: uppercase;
				color: $gray-light;
				&:hover,
				&:focus {
					border-bottom: 1px solid $gray-darker;
					color: $gray-darker;
				}
			}
		}
	}
}

/*
	Nav post categories
*/
.nav-post-categories {
	@include list-unstyled;
	text-align: right;
	li {
		padding-left: $container-fluid;
		display: inline-block;
		&.current-menu-item {
			a {
				border-bottom: 1px solid $brand-primary;
			}
		}
		a {
			@include book;
			&:hover {

			}
		}
	}
}

/*
	Site content 
*/
.site-content {
	.site-content-row {
		@include flex-row;
		@include clearfix;
		&:nth-child(2) {
			.site-content-right {
				border: none;
			}
		}
	}
	.site-content-left,
	.site-content-right {
		padding: $container-fluid;
	}
	.site-content-left {
		padding-left: $container-fluid + $logo-width-control;
		width: 35%;
	}
	.site-content-right {
		border-top: 1px solid $gray-lighter;
		width: 65%;
	}
}

/*
	Excerpt wrap
*/
$excerpt-wrap-height-control: 77px;
.excerpt-wrap {
	@include normalize-text;
	min-height: $excerpt-wrap-height-control;
	background-color: rgba($brand-info, 0.3);
	margin-bottom: 28px;
	margin-bottom: rem(28px);
	h1 {
		@include serif-light;
		font-size: $font-size-base + $text-in-rems-md-up;
		font-size: rem($font-size-base + $text-in-rems-md-up);
	}
	p {
		@include serif-book;
		font-size: $font-size-h4;
		font-size: rem($font-size-h4);
	}
}

/*
	Section title
*/
.section-title {
	@include normalize-text;
	@include flex-row;
	@include clearfix;
	margin-top: $container-fluid * 2;
	margin-bottom: $container-fluid;
	.section-title-left,
	.section-title-right {
		width: 50%;
	}
	.section-title-left {
		@include flex-column-center;
	}
	.section-title-right {
		text-align: right;
	}
	h5 {
		text-transform: uppercase;
	}
}

/*
	Posts list
*/
.posts-list {
	@include normalize-text;
	.posts-list-item {
		@include flex-row;
		@include clearfix;
		padding-right: $container-fluid;
		padding-right: rem($container-fluid);
		margin-bottom: $container-fluid + 7;
		margin-bottom: rem($container-fluid + 7);
	}
	.posts-list-item-left,
	.posts-list-item-right {
		width: 50%;
	}
	.posts-list-item-left {}
	.posts-list-item-right {
		p {
			display: inline;
		}
	}
	.post-title {
		@include flex-column-center;
		text-transform: capitalize;
		border-left: 3px solid $gray-darker;
		padding-left: $container-fluid / 2;
		h2 {
			font-size: $font-size-h5;
			font-size: rem($font-size-h5);
		}
	}
	.post-meta {
		padding-left: ($container-fluid / 2) + 2;
		font-size: 12px;
	}
}

/*
	Footer
*/
.footer {
	@include normalize-text;
	@include flex-row;
	@include clearfix;
	.footer-left,
	.footer-right {
		@include flex-column-center;
		padding: $container-fluid;
	}
	.footer-left {
		width: $logo-width-control;
		text-align: center;
	}
	.footer-right {
		@include calc(width, "100% - #{$logo-width-control}");
		border-top: 1px solid $gray-lighter;
		text-align: right;
	}
}

/*
	Social anchors nav
*/
.nav-social-anchors {
	a {
		font-size: $font-size-h3;
		border-bottom: none;
		color: $gray-dark;
		margin-left: $container-fluid;
		&:hover {
			text-decoration: none;
			border-bottom: none;
			color: $gray-darker;
		}
	}
}

/*
	Post show
*/
$post-title-height-control: 70px;
.post-show {
	margin-bottom: 70px;
	.post-show-item,
	.post-show-item-info {
		@include flex-row;
		@include clearfix;
	}
	.post-title,
	.post-meta {
		@include flex-column-center;
		@include normalize-text;
		min-height: $post-title-height-control;
	}
	.post-title {
		text-transform: capitalize;
		h1 {
			border-left: 3px solid $gray-darker;
			padding-left: $container-fluid;
			font-size: $font-size-h3;
			font-size: rem($font-size-h3);
		}
	}
	.post-meta {
		text-align: right;
		nav {
			> span, > a {
				margin-left: $container-fluid;
			}
		}
	}
	.post-category {
		padding-left: ($container-fluid) + 4;
	}
	.post-show-item-left,
	.post-show-item-right,
	.post-title,
	.post-meta {
		width: 50%;
	}
	.post-show-item-left {}
	.post-show-item-right {}
	.post-content {
		#{$text-elements-list} {
			font-size: 18px;
			font-size: rem(18px);
		}
		> p:last-child {
			&:after {
				@include book;
				content: ' - FIN';
				color: $gray-darker;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
	}
}

/*
	Post show assets
*/
.post-show-assets {
	// padding-top: $excerpt-wrap-height-control + $post-title-height-control + 28;
	.post-featured-pic,
	.post-gallery-pic,
	.post-featured-video {
		margin-bottom: 140px;
		margin-bottom: rem(140px);
	}
	img {
		width: 100%;
		height: auto;
	}
}

/* 
	Media queries definition
*/
@media #{$xs-only} {
	.site-wrapper {
		.header {
			> .header-left {
				width: 44%;
			}
			> .header-right {
				width: 56%;
			}
		}
		.quote-wrap {
			h4 {
				font-size: $font-size-h5;
				font-size: rem($font-size-h5);
			}
		}
		.posts-list-item {
			@include flex-column;
		}
		.posts-list-item-left,
		.posts-list-item-right {
			width: 100%;
		}
		.post-title {
			h2 {
				font-size: $font-size-h4;
				font-size: rem($font-size-h4);
			}
		}
	}
}
@media #{$sm-down} {
	.site-wrapper {
		.site-content,
		.post-show-item {
			@include flex-column;
		}
		.site-content-left,
		.site-content-right,
		.post-show-item-left,
		.post-show-item-right {
			width: 100%;
		}
		.site-content-left {
			padding-left: $container-fluid;
		}
		.post-meta,
		.post-title {
			min-height: 35px;
		}
		.post-meta {
			text-align: left;
			padding-left: 0;
			nav {
				> span, > a {
					margin-left: 0;
					margin-right: $container-fluid;
				}
			}
		}
		.post-show-assets {
			padding-top: 0;
		}
		blockquote,
		pre {
			margin-left: 0 !important;
		}
		.post-title {
			h1 {
				padding-left: 0;
				border: none;
			}
		}
		.post-category {
			padding-left: 0;
		}
		.nav-social-anchors {
			a {
				font-size: $font-size-h4;
				margin-left: 9px;
			}
		}
		.footer-right {
			@include calc(width, "100% - #{$logo-width-control - 30}");
		}
		.footer-left {
			width: $logo-width-control - 30;
		}
		&.home-layout {
			height: auto;
			min-height: 100vh;
			.site-content-left,
			.site-content-right {
				width: 100%;
			}
			.content-wrap {
				height: auto;
				min-height: $header-height-control;
			}
		}
	}
}
@media #{$sm-only} {}
@media #{$md-only-landscape} {
	.site-wrapper {
		&.home-layout {
			height: auto;
			min-height: 100vh;
			.site-content-left {
				width: 35%;
			}
			.site-content-right {
				width: 65%;
			}
			.content-wrap {
				height: auto;
				min-height: $header-height-control;
			}
		}
	}
}
@media #{$lg-only} {}
@media only screen and (max-height: 840px) {
	.site-wrapper {
		&.home-layout {
			@include calc(min-height, "100vh - #{$padding-control * 2}");
			.content-wrap {
				height: auto;
			}
			.excerpt-wrap {
				h1 {
					font-size: $font-size-h4;
				}
			}
			.posts-list-item-right {
				p {
					font-size: $font-size-base - 2;
				}
			}
		}
	}
}
@media only screen and (min-width: 1500px) {
	html {
		font-size: $font-size-base + 2;
	}
}




























