/*
	Containers-custom
*/
@media #{$sm-up} {
	.container-xs,
	.container-sm,
	.container-md {
		padding-left: $container-fluid;
		padding-right: $container-fluid;
		margin: 0 auto;
	}
	.container-xs {
		width: $container-xs;
	}
	.container-sm {
		width: $container-sm;
	}	
	.container-md {
		width: $container-md;
	}	
}
@media #{$xs-only} {
	.container-xs,
	.container-sm,
	.container-md {
		width: 100%;
		padding-left: $container-fluid;
		padding-right: $container-fluid;
		margin: 0 auto;
	}
	.container-sm {}	
	.container-md {}		
}