// Set the global measure (range: 1 - 9)
$times: 7; 

// Define the em-base for rems to px conversion
$px-to-rems: true;    // True if you want them on rems 
$em-base: 14px; 

// Include EBM in "%" units?
$percentage: false;

// Include and determine border radius:
$rounded-borders: true;  // If no bootstrap

// Include and determine box shadows:
$box-shadows: true;
$x-axis: 0px;
$y-axis: 3px;
$blur: 3px;
$size: 0px;
$color: #313233;
$alpha: 0.15;

// Global sufix
$global-sufix: 							"ebm-" !default;

// Add !important value to all EBM : Experimental, look on _type-custom.scss for usage
$importantize: 							"!important" 		!default;

// ALT FONT for FONTS_CUSTOM
$font-family-alt:         "alt-name", $font-family-sans-serif;

// EBM:REF
// CUSTOM CONTAINER VARIABLE
$container-xs: 								((480px + $grid-gutter-width)) !default;
$container-fluid: 						 $grid-gutter-width / 2; 

.container-fluid {
	width: 100%;
}