// MAIN TEXT
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  Global text configuration
*/
.post-show {
  .post-content {
    blockquote,
    pre,
    ul {
      margin-left: -100% !important;
      margin-top: 28px;
      margin-bottom: 18px;
      margin-top: rem(28px);
      margin-bottom: rem(18px);
    }
    blockquote {
      @include serif-light-italic;
      p {
        @include serif-light-italic;
        font-size: 24px !important;
        font-size: rem(24px) !important;
        #{$text-elements-list} {
          font-size: inherit !important;
          font-family: inherit !important;
        }
        strong {
          color: $gray-darker;
        }
      }
    }
    pre {
      font-family: $font-family-monospace;
    }
    ul {
      background-color: $blue-lighter;
      list-style-position: inside;
      padding: 28px;
      padding: rem(28px);
      li {
        list-style-type: circle;
        margin-bottom: 3px;
      }
    }
  }
}

#{$text-elements-list} {
  @include serif-light;
  a {
    @include serif-book;
  }
}

em {
  @include serif-light-italic;
}

strong {
  @include serif-book;
}

#{$headings-list}, 
#{$headings-class-list} {
  @include book;
  span, strong, a, em, small {
    @include book;
  }
  span, strong, a, em {
    font-size: inherit !important;
  }
}

// FIREFOX dotted outline
a {
  outline: 0 !important;
}

// DISABLE ANCHOR UNDERLINE ON HOVER
a {
  @include book;
  border-bottom: 1px solid white;
  &:hover,
  &:focus,
  &:active {
    border-bottom: 1px solid $brand-primary;
    text-decoration: none !important;
    // display: inline-block;
    // padding-bottom: 2px;
  }
}

// REMOVE DEFAULT MARGINS MIXIN
@mixin normalize-text {
  #{$headings-list}, 
  #{$headings-class-list},
  #{$text-elements-list} {
    margin: 0;
  }
}
.normalize-text {
  @include normalize-text;
}

// Alignment
.text-left {
  text-align: left #{$importantize};
}
.text-right {
  text-align: right #{$importantize};
}
// Center on Mobile or Tablet

// @for $i from 1 through length($breakpoints-sufix-list) {
//   .text-left-#{nth($breakpoints-sufix-list, $i)} {
//     @media #{nth($media-only-list, $i)} {
//       text-align: left #{$importantize};
//     }
//   }
// }

// @for $i from 1 through length($breakpoints-sufix-list) {
//   .text-right-#{nth($breakpoints-sufix-list, $i)} {
//     @media #{nth($media-only-list, $i)} {
//       text-align: right #{$importantize};
//     }
//   }
// }

// @for $i from 1 through length($breakpoints-sufix-list) {
//   .text-center-#{nth($breakpoints-sufix-list, $i)} {
//     @media #{nth($media-only-list, $i)} {
//       text-align: center #{$importantize};
//     }
//   }
// }


// Text transforms
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: none #{$importantize};
}

.underline {
  text-decoration: underline #{$importantize};
}

a.not-underline {
  &:hover {
    text-decoration: none;
  }
}

// TEXT GRADIENTS
@mixin text-fill-color($color) {
  @include prefixer(text-fill-color, $color, webkit moz spec);
}

@mixin background-clip($clip) {
  @include prefixer(background-clip, $clip, webkit moz spec);
}

// @media screen and (-webkit-min-device-pixel-ratio: 0) {
//   .text-gradient {
//     @include background(linear-gradient(left, $brand-primary, $brand-info, $brand-success) repeat);
//     @include background-clip(text);
//     @include text-fill-color(transparent);
//   }
// }
// END:TEXT GRADIENTS

// LINE HEIGHTS
// LINE HEIGHTS
@mixin lh-sm {
  line-height: rem(19px);
}
@mixin lh-md {
  line-height: rem(21px);
}
@mixin lh-lg {
  line-height: rem(28px);
}
// .lh-sm {
//   @include lh-sm;
// }
// .lh-md {
//   @include lh-md;
// }
// .lh-lg {
//   @include lh-lg;
// }

/*
  Text shadow
*/
@mixin text-shadow {
  text-shadow: 
    rgba($gray-darker, 0.33) // Color
    0 // Eje x
    2px // Eje Y
    1px; // Blur
}
// TEXT SHADOW
// .text-shadow {
//   @include text-shadow;
//   #{$text-elements-list},
//   #{$headings-list},
//   #{$headings-class-list} {
//     @include text-shadow;
//   }  
// }