/* 
	EBM:Ref
	User cards
*/
.user-card {
	@include normalize-text;
	@include flex-row;
	@include clearfix;
	position: relative;
	margin-bottom: $container-fluid / 2;
	width: 100%;
	.user-pic,
	.user-info {
		// float: left;
	}
	.user-pic {
		width: $user-card-width;
		img {
			width: 100%;
			height: auto;
			border-radius: $border-radius-base;
		}
	}
	.user-info {
		@include flex-column-center;
		min-height: $user-card-height * 2;
		padding-left: $container-fluid;
		@include children-elements {
			display: block;
		}
		span {
			color: $gray;
		}
	}
	&.user-card-round {
		.user-pic {
			img {
				border-radius: 50%;
			}
		}
	}
}