/* 

	EBM:REF
	Mobile Menu

*/

.mobile-navbar {
	@include position(fixed, 0 0 null 0);
	z-index: 1000;
	width: 100%;
	height: $mobile-navbar-height;
	background: white;
	border-bottom: 1px solid $gray-lighter;
	@include flex-space-between;
	padding: 0 $container-fluid;
	.left,
	.right {
		height: $mobile-navbar-height;
		@include flex-middle;
	}
	.left {}
	.right {}
	.logo {
		@include bg-img-control;
		width: $mobile-navbar-height - 7;
		height: $mobile-navbar-height - 7;
	}
	.menu-trigger {
		background-color: $brand-primary;
		width: $mobile-navbar-height - 14;
		height: $mobile-navbar-height - 14;
		text-align: center;
		color: white;
		font-size: $font-size-h1;
	}
}

.mobile-menu {
	@include transition(transform 0.2s ease-in-out);
	@include transform(translateX(100%));
	@include position(fixed, 0 0 0 null);
	padding-top: $header-height-control;
	background: $gray-lighter;
	min-height: 100%;
	z-index: 900;
	height: 100%;
	width: 100%;
	.mobile-nav-display-triggers {
		> ul {
			@include list-unstyled;
			> li {
				a {
					display: block;
					padding: $container-fluid;
					text-transform: uppercase;
					font-size: 21px;
					color: $gray-dark;
				}
				&:nth-child(odd) {
					background-color: $gray-light;
				}
				&:nth-child(even) {
					background-color: $gray-lighter;
				}
			}
		}
	}
	.mobile-nav-display {
		@include transition(transform 0.2s ease-in-out);
		@include transform(translateX(100%));
		@include position(fixed, 0 0 0 null);
		padding-top: $mobile-navbar-height;
		background: $gray-lighter;
		overflow-y: scroll;
		min-height: 100%;
		z-index: 901;
		height: 100%;
		width: 100%;
		.top {
			padding: $container-fluid;
		}
		.center {
			> ul {
				@include list-unstyled;
				li {
					a {
						display: block;
						text-transform: uppercase;
						padding: ($container-fluid - 2) $container-fluid;
						color: $gray-darker;
						font-size: $font-size-base;
						span {}
					}
					&:nth-child(odd) {
						background-color: $gray-lighter;
					}
					&:nth-child(even) {
						background-color: $gray-light;
					}
				}
			}
		}
		.bottom {}
		.back {
			display: block;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.site-wrapper {
	&.menu-on {
		.mobile-menu {
			@include transform(translateX(0px));
			@include transition(transform 0.2s ease-in-out);
		}
	}
	@for $i from 1 through 10 {
		&.display.mobile-nav-display-#{$i} {
			#mobile-nav-display-#{$i} {
				@include transition(transform 0.2s ease-in-out);
				@include transform(translateX(0px));
			}
		}
	}
}